<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AiP Onboarding</title>
    <script src="/static/onboarding.js"></script>
</head>
<body onload="onLoad('{{ url }}', '{{ auth_token }}')">
<label for="company">Company: </label>
<select name="company" id="company-select" onchange="updateStores('{{ url }}', '{{ auth_token }}')">
    {% for company in companies %}
    <option value="{{ company['company_id'] }}">{{ company['company_name'] }}</option>
    {% endfor %}
</select>
<br />
<br />
<div style="border: 1px solid">
    <span>Company Creation:</span>
    <div>
        <label for="company-name">Name: </label>
        <input type="text" name="company-name" id="company-name" />
    </div>
    <div>
        <label for="company-street-one">Street One: </label>
        <input type="text" name="company-street-one" id="company-street-one" />
    </div>
    <div>
        <label for="company-street-two">Street Two: </label>
        <input type="text" name="company-street-two" id="company-street-two" />
    </div>
    <div>
        <label for="company-city">City: </label>
        <input type="text" name="company-city" id="company-city" />
    </div>
    <div>
        <label for="company-state">State: </label>
        <input type="text" name="company-state" id="company-state" />
    </div>
    <div>
        <label for="company-zip">ZIP: </label>
        <input type="text" name="company-zip" id="company-zip" />
    </div>
    <div>
        <label for="company-phone">Phone: </label>
        <input type="text" name="company-phone" id="company-phone" />
    </div>
    <div>
        <label for="company-fax">Fax: </label>
        <input type="text" name="company-fax" id="company-fax" />
    </div>
    <div>
        <label for="company-email">Email Address: </label>
        <input type="text" name="company-email" id="company-email" />
    </div>
    <div>
        <label for="company-logo">Company Logo: </label>
        <input type="file" name="company-logo" id="company-logo" />
    </div>
    <br />
    <button onclick="createCompany('{{ url }}', '{{ auth_token }}')">Create Company</button>
</div>
<div style="border: 1px solid">
    <span>Store Creation:</span>
    <div>
        <label for="store-name">Store Name: </label>
        <input type="text" name="store-name" id="store-name" />
    </div>
    <div>
        <label for="store-phone">Phone Number: </label>
        <input type="text" name="store-phone" id="store-phone" />
    </div>
    <div>
        <label for="street">Street: </label>
        <input type="text" name="street" id="street" />
    </div>
    <div>
        <label for="city">City: </label>
        <input type="text" name="city" id="city" />
    </div>
    <div>
        <label for="state">State: </label>
        <input type="text" name="state" id="state" />
    </div>
    <div>
        <label for="zip">Zip: </label>
        <input type="text" name="zip" id="zip" />
    </div>
    <div>
        <label for="market">Market: </label>
        <select name="market" id="market">
            {% for market in market_list %}
            <option value="{{ market['aip_market_id'] }}">{{ market['name'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="dms">DMS: </label>
        <select name="dms" id="dms">
            {% for dms in dms_list %}
            <option value="{{ dms['dms_id'] }}">{{ dms['dms_name'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="store-type">Store Type: </label>
        <select name="store-type" id="store-type">
            <option value="0">New & Used</option>
            <option value="1">New</option>
            <option value="2">Used</option>
        </select>
    </div>
    <div>
        <label for="inv-source">Inventory Source: </label>
        <select name="inv-source" id="inv-source" onchange="setInventory()">
            <option value="vauto">Vauto</option>
            <option value="homenet">Homenet</option>
            <option value="firstlook">FirstLook</option>
            <option value="dealercom">Dealer.com</option>
            <option value="promax">Promax</option>
            <option value="cdk_global">CDK Global</option>
            <option value="inventoryplus">Inventory Plus</option>
            <option value="dealerspecialities">Dealer Specialities</option>
            <option value="vinsolutions">VinSolutions</option>
            <option value="autouplink">Auto Uplink</option>
            <option value="allautonetwork">All Auto Network</option>
            <option value="ebizautos">Ebiz Autos</option>
        </select>
    </div>
    <div>
        <div id="inv-source-input">
            <div id="sister-store-input-div">
                <label for="sister-store-id">Sister Store ID:</label>
                <input type="number" name="sister-store-id" id="sister-store-id" />
            </div>
            <div>
                <label for="inv-dealer-id">Dealer ID:</label>
                <input type="text" name="inv-dealer-id" id="inv-dealer-id" />
            </div>
            <div id="file-name-input-div">
                <label for="file-name">File Name:</label>
                <input type="text" name="file-name" id="file-name" />
            </div>
            <div>
                <label for="inventory-load">Load Inventory:</label>
                <input type="checkbox" name="inventory-load" id="inventory-load" />
            </div>
            <div>
                <label for="price-change">Price Change:</label>
                <input type="checkbox" name="price-change" id="price-change" />
            </div>
        </div>
    </div>
    <div>
        <label for="img-source">Image Source: </label>
        <input type="text" name="img-source" id="img-source"/>
    </div>
    <div>
        <label for="hist-source">History Report: </label>
        <select name="hist-source" id="hist-source" onchange="setHistory()">
            <option value="carfax">CarFax</option>
            <option value="autocheck">AutoCheck</option>
        </select>
        <div id="carfax-input">
            <div>
                <label for="module-id">Module ID: </label>
                <input type="text" name="module-id" id="carfax-module-id" />
            </div>
            <div>
                <label for="carfax-user">Carfax User: </label>
                <input type="text" name="carfax-user" id="carfax-user" />
            </div>
            <div>
                <label for="carfax-pass">Carfax Password: </label>
                <input type="text" name="carfax-pass" id="carfax-pass" />
            </div>
            <div>
                <label for="dealership-contact">Dealership Contact: </label>
                <input type="text" name="dealership-contact" id="dealership-contact" />
            </div>
        </div>
        <div id="autocheck-input">
            <div>
                <label for="module-id">Module ID: </label>
                <input type="text" name="module-id" id="autocheck-module-id" />
            </div>
            <div>
                <label for="cid">CID: </label>
                <input type="text" name="cid" id="cid" />
            </div>
            <div>
                <label for="sid">SID: </label>
                <input type="text" name="sid" id="sid" />
            </div>
            <div>
                <label for="pwd">Autocheck Password: </label>
                <input type="text" name="pwd" id="pwd" />
            </div>
        </div>
    </div>
    <div>
        <label for="archived-days">Show Archived Packets Days: </label>
        <input type="number" name="archived-days" id="archived-days" />
    </div>
    <div>
        <label for="ro-visible">RO Visible From Web Button: </label>
        <input type="checkbox" name="ro-visible" id="ro-visible" />
    </div>
    <br />
    <button onclick="createStore('{{ url }}', '{{ auth_token }}')">Create Store</button>
</div>
    <br />
    <br />
    <span id="error-message"></span>
    <br />
    <br />

<div id="store-list">
</div>

</body>
</html>