<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aip Login</title>
    <script src="/static/login.js"></script>
</head>
<body>
    <label for="username">UserName: </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password"/>
    <br>
    <button type="button" onclick="login('{{url}}')">Log In</button>
</body>
</html>